<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MPA" connectionString="123"/>
  </connectionStrings>
  <appSettings>
    <add key="SvcSelfStart" value="0"/><!--1表示服务自启动，0表示手动启动服务-->
    <add key="ServerIP" value="192.168.1.86"/>
    <add key="ServerPort" value="8888"/>
    <add key="ServiceRoot" value="sapi"/>
    <add key="ServiceName" value=""/>
    <add key="OriginHost" value=""/>
    <add key="FileSavedPath" value=""/>
    <add key="ControllersAssembly" value=""/>
    <add key="CookieName" value=""/>
    <add key="CookieExpiredTime" value=""/>
  </appSettings>
</configuration>