<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TQ" connectionString="server=192.168.1.67;port=8080;user id=root;Password=123456;persist security info=True;database=tq;Charset=utf8;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--跨源访问的源-->
    <add key="OriginHost" value="http://localhost:4510"/>    
    <add key="ServerIP" value="192.168.1.86" />
    <add key="WebServerPort" value="8885" />
    <add key="FileServerPort" value="8886" />
    <add key="FileServerPath" value="D:\MpaDocuments"/>
    <add key="LoginCookieName" value="MPALoginCookie"/>
    <!--登录cookie名称-->
    <add key="LoginCookieExpires" value="12"/>
    <!--登录cookie失效时间，单位小时-->
    <add key="TypeArea" value="0"/>
    <add key="MpaUploadurl" value="http://180.168.218.123:9081/jsyzmpa-stage1"/>
  </appSettings>
</configuration>